# git config --global core.excludesFile frontend/.gitignore


# backend files
*/__pycache__
*/.env
venv
*/migrations/
*/__init__.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
