asgiref
attrs
bleach
boto3
botocore
Django
django-ckeditor
django-cors-headers
django-environ
django-filter
django-js-asset
django-storages
django-summernote
djangorestframework
iniconfig
jmespath
Markdown
packaging
Pillow
pluggy
psycopg2
psycopg2-binary
py
pyparsing
pytest
pytest-django
python-dateutil
pytz
s3transfer
six
sqlparse
tomli
urllib3
webencodings